.navbar__dropdown-wrap {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
  padding-top: 10px;
}

.navbar__link:hover .navbar__dropdown-wrap {
  opacity: 1;
  pointer-events: all;
}

.navbar__dropdown-content {
  //width: 150px;
  //height: 180px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 2px 0.3px var(--color-shadow);
  padding: 30px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  a {
    color: rgb(180, 180, 180);
    font-size: 12pt;
  }
  a:hover {
    color: var(--color-text);
  }
}