.heroSlide {
  display: grid;
  grid-template-columns: 43% 57%;
  grid-template-rows: 440px;
}

@media (max-width: 660px) {
  .heroSlide {
    grid-template-columns: 1fr;
    grid-template-rows: minmax(auto, 400px) 1fr;
    height: 700px;
  }
}