.recipe {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.recipe__main {
  display: flex;
  height: 500px;
}

.recipe__utility {
  display: flex;
  gap: 40px;

  .recipe__tags {
    width: 30%;

    p {
      line-height: 2;
      //letter-spacing: ;
    }
  }

  .recipe__target {
    width: 70%;
  }

}