.createRecipeSteps {
  display: flex;
  flex-direction: column;

  .createRecipeStepsTitle {
    padding: 24px 36px 0;
  }

  .createRecipeStepsError {
    text-align: center;
    color: tomato;
    margin-top: 8px;
    margin-bottom: -10px;
    font-size: 12pt;
  }

  .createRecipeStepsBody {
    padding: 0 36px 24px;
    flex-grow: 1;
    overflow: auto;

    .createRecipeStepsGuide {
      margin: 20px 0;
    }

    .createRecipeStepsList {
      margin: 20px 0;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .stepInputsGroup {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .stepInputsHeader {
        display: flex;
        gap: 8px;

        .stepNameInputWrapper {
          width: 100%;
        }
      }

      .stepTextarea {
        padding: 4px 8px 6px;
        height: 120px;
        resize: vertical;
      }
    }

    .removeStepButton {
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      fill: var(--color-text-neutral);
    }

    .addStepButton {
      display: flex;
      justify-content: center;
    }
  }
}