.rec__item {
  //flex-grow: 1;
  flex-basis: 33.3333%;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .rec__item-img {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 3 / 2;
  }


  .rec__item-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 7px;

    .rec__item-title {
      font-size: 14pt;
    }

    .single-row {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp:1; /* number of lines to show */
      line-clamp: 1;
      -webkit-box-orient: vertical;
    }


    .rec__item-util {

    }

    .rec__item-desc {
      font-size: 12pt;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* number of lines to show */
      line-clamp: 2;
      -webkit-box-orient: vertical;
    }

  }
}

.rec__item_hor {
  flex-direction: row;

  .rec__item-img {
    width: 25%;
  }

}