.authorWrapper {
  position: relative;
  color: var(--color-text-primary);
}

.author {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .authorHeader {
    display: flex;
    width: 100%;
    gap: 20px;

    .authorAvatar {
      img {
        width: 120px;
        aspect-ratio: 1 / 1;
      }
    }
    .authorInfo {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 4px;

      .authorSocials {
        display: flex;
        gap: 4px;

        svg {
          fill: var(--color-text-primary);
        }
      }

      .authorDivider {
        margin-top: 8px;
      }
    }
  }

  .authorBody {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .authorBodyTitle {
      text-align: center;
      margin-bottom: 12px;
    }

    .authorSignature {
      position: absolute;
      bottom: 24px;
      right: 24px;

      @media screen and (max-width: 850px) {
        position: initial;
        align-self: flex-end;
        margin-top: 12px;
      }
    }
  }
}
