.mobile-footer {
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--color-footer);

  * {
    font-size: 1em;
    color: var(--color-text-footer);
  }
}

.mobile-footer__top  {
  display: flex;
  justify-content: space-between;
}

.mobile-footer__logo {
  display: flex;
  flex-direction: column;
  gap: 10px;

  p {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}

.mobile-footer__nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-end;
}

.mobile-footer__copyrights {
  display: flex;
  justify-content: flex-end;

  p {
    text-align: end;
  }
}