.slider__movable {
  height: 100%;
  display: inline-flex;
  overflow: hidden;
  position: relative;
}

.slider__item {
  display: flex;
  height: 100%;
  width: 100%;
}

@media (max-width: 768px) {
  .slider__movable {
    //margin-top: 80px;
  }
  .slider__item {
    flex-direction: column-reverse;
  }
}