.footerDesktopWrapper {
  display: block;
}

.footerMobileWrapper {
  display: none;
}

.footer {
  background-color: var(--color-footer);
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3);
  padding-top: 60px;
  padding-bottom: 60px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .footerNavbar * {
    color: var(--color-text-footer);

    &:hover {
      color: var(--color-text-light);

      &:after {
        background-color: var(--color-text-light);
      }
    }
  }

  .footerUtils {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .footerSocials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;

    svg {
      fill: var(--color-text-footer);
      stroke: var(--color-text-footer);
    }
  }

  .footerCopyrights {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    color: var(--color-text-footer);
    font-size: 10pt;
  }

  .footerMobileTop {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .footerMobileTopCol {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    .footerMobileNavbar {
      flex-direction: column;
      align-items: flex-end;
    }
  }
}

@media screen and (max-width: 900px) {
  .footerDesktopWrapper {
    display: none;
  }
  .footerMobileWrapper {
    display: block;
  }
  .footer {
    flex-direction: column;
    gap: 20px;

    .footerCopyrights {
      text-align: center;
    }
  }
}
