.header {
  position: fixed;
  width: inherit;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 40px 80px;
  transition: 0.15s;
  z-index: 99;
}

.header_small {
  height: 80px;
}