.navbarList {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;

  .navbarItem {
    margin-top: 4px;
    position: relative;

    .navbarItemDropdownWrap {
      display: none;
      position: absolute;
    }

    &:hover .navbarItemDropdownWrap {
      display: block;
    }
  }
}
