.recipesFilters {
  display: flex;
  gap: 24px;

  .recipesFilterItem {
    width: 100%;
  }
}

@media screen and (max-width: 810px) {
  .recipesFilters {
    flex-direction: column;
    gap: 16px;
  }
}