.successMessage {
  background-color: lightgreen;
  opacity: 0.8;
  padding: 10px;
  padding-bottom: 4px;
  margin-bottom: 20px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.25);
  font-style: italic;
}

.loginError {
  color: red;
  margin: -10px 0;
  font-size: 10pt;
}

.authForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;

  .inputBox {
    height: 45px;
  }

  .input::placeholder {
    font-style: italic;
  }

  .authFormUtils {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .forgotButton {
      font-size: 10pt;
      font-style: italic;
    }
  }

  .submitButton {
    align-self: center;
  }

  .authOther {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    svg {
      fill: var(--color-text-primary);
    }
  }

  .formChanger {
    font-size: 12pt;
    text-align: center;

    .formChangerButton {
      font-size: 12pt;
      color: var(--secondary-skyblue);

      &:after {
        background-color: var(--secondary-skyblue);
      }
    }
  }
}
