.accountInfo {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;

  .accountInfoNotActivated {
    display: inline-flex;
    justify-content: space-between;
    padding: 4px 8px 2px;
    background-color: var(--primary-yellow);
    box-shadow: var(--shadow-narrow);

    .activateButton {
      margin-left: 4px;
      font-size: 12pt;
      font-style: italic;
      color: var(--secondary-skyblue);
      &:after {
        bottom: 2px;
        background-color: var(--secondary-skyblue);
      }
    }
  }

  .accountInfoItem {
    display: flex;
    align-items: center;
    gap: 10px;
    fill: var(--color-text-secondary);

    &_disabled {
      opacity: 0.5;
      pointer-events: none;
    }

    .accountInfoLink {
      margin-top: 4px;
    }
  }

  .auth_greeting {
    font-size: 12pt;
  }
}
