.container {
  width: 1120px;
  margin: 0 auto;

  position: relative;

  display: flex;
  flex-direction: column;
  gap: 100px;
}

.header__wrap {
  width: inherit;
  height: 120px;
}

.section {
  background-color: var(--main-color);
}

.shadow-wide {
  box-shadow: 0 0 4px 2px var(--color-shadow);
}

.shadow-narrow {
  box-shadow: 0 0 2px 1px var(--color-shadow);
}

.two-col {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.padding_single-col {
  padding: 40px 60px;
}

.padding_double-col {
  padding: 20px 30px;
}

.padding_footer {
  padding: 60px 80px;
}

.page {
  display: flex;
  flex-direction: column;
  gap: 100px;
}



@media (max-width: 1120px) {
  .container {
    width: 100%;
    gap: 50px;
  }
  .page {
    gap: 50px;
  }
}

@media (max-width: 920px) {
  .container {
    width: 100%;
    gap: 0;
  }
  .page {
    gap: 0;
  }
  .two-col {
    gap: 0;
    flex-direction: column;
  }
  .shadow-wide, .shadow-narrow {
    box-shadow: none;
  }
  .padding_double-col {
    padding: 40px 60px;
  }
  .header__wrap {
    height: 80px;
  }
}

@media (max-width: 480px) {
  .padding_single-col, .padding_double-col {
    padding: 20px 30px;
  }
}





