.button {
  border: none;
  background-color: transparent;
  width: fit-content;
  color: var(--color-text-primary);
  text-decoration: none;
  cursor: pointer;
}

.button_simple {
  position: relative;
  font-size: 14pt;
  transition: 0.1s;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    opacity: 0.3;
    background-color: var(--color-text-primary);
    transition: 0.3s;
  }

  &:hover {
    &:after {
      opacity: 1;
      width: 100%;
    }
  }

  &:active {
    transform: scale(1.05);
  }
}

.button_outlined {
  height: 28px;
  padding: 7px 12px;
  transition: 0.1s;

  border: 1px solid var(--color-accent);

  &:hover {
    background-color: var(--color-background);
  }

  &:active {
    box-shadow: var(--shadow-input-inset);
  }
}

.button_filled {
  height: 28px;
  padding: 7px 12px;
  transition: 0.1s;

  border: 1px solid var(--color-accent);
  background-color: var(--color-text-primary);
  color: var(--color-text-light);

  &:hover {
    background-color: transparent;
    color: var(--color-text-primary);
  }

  &:active {
    box-shadow: var(--shadow-input-inset);
  }
}
